<!DOCTYPE html>
<html>
<head>
  <title>My Blog</title>
  <link rel="stylesheet" media="screen" href="css/blog.css" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="http://timeago.yarp.com/jquery.timeago.js"></script>
  <script type="text/javascript" src="js/blog.js"></script>
</head>
<body>
<%= yield %>
</body>
</html>
