body { font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
article { min-width: 300px; max-width: 700px; margin: 50px auto; padding: 0 50px;
}
header h1 { margin: 0;
}
header a { color: #000; text-decoration: none; text-shadow: 1px 1px 2px #555;
}
header a:hover { text-decoration: underline;
}
header time { font-size: 80%; color: #555;
}
