<!DOCTYPE html>
<html>
<head>
<title>My Blog</title>
  <link rel="stylesheet" media="screen" href="/css/blog.css" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.timeago.js"></script>
  <script type="text/javascript" src="/js/blog.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>
