<!DOCTYPE html>
<html> 
  <head>
    <meta charset="UTF-8">
    <title>HELP Template</title> 
  </head>
  <body> 
    <h1>Help for user <%= @user %></h1>
     <pre>
       <%= params %>
     </pre>
  </body> 
</html>



